
<!DOCTYPE html>
<html>
  <head>
  	<meta charset = "UTF=8">
  	<style>
  		
  		body {
	background: <%= @color %>
              }
        header{
        	 font:bold 30px Tahoma;
        	 text-align: center;
        }
        p{
        	font: bold 20px Tahoma;
        	text-align: center;

        }      
        form{
        	text-align: center;
        }

  	</style>
  </head>
  
  <body>
  	<header> Guess the Number</header>
    <p>
      <%= @message %>
    </p>
  <form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
  
   
</form>

  </body>
</html>
